body
    width: 100vw;
    height: fit-content;

main
    position: absolute;
    background: transparent;

canvas
    display: block;
    position: fixed;
    z-index: -1;

.page
    width: 100vw;
    height: 100vh;

.page--1
    background-color: red;
.page--2
    background-color: blue;
.page--3
    background-color: green;
.page--4
    background-color: yellow;
.page--5
    background-color: white;