@color-1: #f7fcf0;
@color-2: #e5f5df;
@color-3: #d4eece;
@color-4: #bde5bf;
@color-5: #9fd9bb;
@color-6: #7bcbc4;
@color-7: #58b7cd;
@color-8: #399cc6;
@color-9: #1e7eb7;
@color-10: #0b60a1;
@set--1-color:rgb(180, 17, 139);
@set--2-color:rgb(9, 235, 243);
@set--3-color:rgb(22, 18, 255);
@set--4-color:rgb(17, 180, 31);
@set--5-color:rgb(143, 22, 255);


.set-wrapper {
    display: flex;
    flex-direction: column;
}

.set {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    width: 140px;
    height: 140px;
    z-index: 10;
    border-radius: 10px;
    transition: transform 1s ease, box-shadow 1s cubic-bezier(0, 1.31, 0, 1.95);
    border: 3px solid cornflowerblue;
}

.set:hover {
    transform: scale(1.35);
    cursor: pointer;
}

.set:nth-child(2n) {
    margin-left: 70px;
}

.set:nth-child(2n + 1) {
    margin-right: 70px;
}

.icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
    transition: top 1s ease, left 1s ease;
    z-index: 5;
}

.set--1:hover {
    box-shadow: 0 0 15px @set--1-color, inset 0 0 20px @set--1-color;
}
.set--2:hover {
    box-shadow: 0 0 15px @set--2-color, inset 0 0 20px @set--2-color;
}
.set--3:hover {
    box-shadow: 0 0 15px @set--3-color, inset 0 0 20px @set--3-color;
}
.set--4:hover {
    box-shadow: 0 0 15px @set--4-color, inset 0 0 20px @set--4-color;
}
.set--5:hover {
    box-shadow: 0 0 15px @set--5-color, inset 0 0 20px @set--5-color;
}
